* {
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
}

.layout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.layout .unit {
    width: 20%;
    height: 9.09%;
    display: flex;
    padding: 2px;
    animation-name: show;
    animation-duration: 1s;
}

.layout .unit .button {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    box-shadow: 0px 0px 5px #000;
    transition: 0.05s;
    color: #FFF;
    padding: 5px;
    text-align: right;
}

.layout .unit .press {
    transform: scale(0.95);
}

@keyframes show{
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}